.repo-list {
  display: grid;
  gap: 20px;
  list-style-type: none;
}

.repo-item {
  padding: 20px;
  border: 1px solid #ddd;
}

@media (min-width: 600px) {
  .repo-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .repo-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
}
